@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h2 class="mb-3">@ViewData["Title"]</h2>

<partial name="_StatusMessage" for="StatusMessage" />

<form method="post" class="mt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" />
        <label asp-for="Input.OldPassword">Contraseña actual</label>
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3 position-relative">
        <input asp-for="Input.NewPassword" class="form-control" id="newPwd" autocomplete="new-password" />
        <label asp-for="Input.NewPassword">Nueva contraseña</label>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
        <label asp-for="Input.ConfirmPassword">Confirmar nueva contraseña</label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark w-100">
        Actualizar contraseña
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}